html * {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(230, 230, 230, 0.932);    
}


@mixin chats{
    color: #fff;
    padding: 8px;
    margin: 8px;
    border-radius: 6px;
}

.wrapper{
    display: flex;
    flex-direction: column;
}

#chatBox{
    padding: 10px;
    .message-container, .response-container{
        @include chats;
    }

    .message-container{
        background-color: rgb(10, 13, 207);
    }
    .response-container{
        background-color: rgb(0, 180, 27);
    }    
}

#textField{
    width: 100%;
    position: fixed;
    overflow: auto;
    top: calc(100% - 58px);
    

    #send{
        background-color: blue;        
        color: #fff;
        width: 20%;

        &:hover{
            background-color: rgb(41, 55, 255);
        }
        &:active{
            background-color: rgb(33, 33, 179);
        }
    }
    
    #myMessage{
        width: 80%;
    }

    input{
        font-size: 200%;
        border-radius: 2px;
        margin: 0;
        float: left;
        padding: 8px 2px;
        border: 1px solid rgb(146, 146, 146);
    }    
}